.Quiz {
    width: 900px;
    margin: 4rem auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 3rem;
    line-height: 1.5;
    min-height: 450px;
}

.QuizTitle {
    color: #6495ED;
    margin: 0px 0px 30px;
}