.App {
  padding: 15px;
  text-align: center;
}

.NavigationButton {
  padding: 10px;
  width: 20%;
  border: transparent;
  border-radius: 5px;
  background-color: #ffb000;
  font-size: 18px;
  color: #000000;
  cursor: pointer;
}

.NavigationButton:disabled {
  background-color: lightgray;
  cursor: not-allowed;
  color: #808080;
}